body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: medium;
    padding: 10px 5px;
    margin: 0px;
    font-size: 60px;
    border: none;
    border-radius: 0; /* Remove border-radius */
    cursor: pointer;
    background-color: transparent; /* Remove background-color */
}

button:hover {
    /* Remove background-color change on hover */
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 14px;
}

#location {
    margin-right: 10px; /* Add spacing between elements */
}

#clock {
    margin-right: 10px; /* Add spacing between elements */
}

#copyright {
    margin-left: 10px; /* Add spacing between elements */
}
